@import './custom';
@import './variables';
@import './responsive';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
}
@include mobile{
  .main{
    &__section{
      display:flex;
      flex-direction: column;
    }
    &__sub-list{
      width:100%;
    }
    &__pokemon-details{
      width:90%;
    }
  }
}
@include tablet{
  .main{
    &__sub-list{
      width:30%;
    } 
    &__pokemon-details{
      width: 40%;
    }
  }
}
@include desktop{
  .main{
    &__sub-list{
      width:20%;
    }
    &__pokemon-details{
      width: 20%;
    }
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: cornflowerblue;
  &__img{
    height: 80px;
  }
}
.main{
  display:flex;
  min-height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right,white,green, white);
  
  &__section{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  &__search-name{
    border: 1px dashed red;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  &__img-pokeball{
    width: 30px;
  }
  &__img-pokeball:hover{
    transform: rotate(50deg);
  }
  &__tittle{
    color:white;
    width: 100%;
    margin-top: 10px;
  }
  &__list{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin:0;
  }
  &__btn{
    border: 1px dashed red;
    background-color: white;
    border-radius: 10px;
  }
  &__pokemon-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
    margin: auto;
    background-color: honeydew;
    margin-bottom: 10px;
  }
  &__sub-list{
    display:flex;
    flex-direction: column;
    margin:10px;
    padding: 10px;
    background-color: white;
    border: 1px solid red;
  }
  &__btn-maspokemon{
    border: 1px dashed red;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
  }
.sub-list{
  &__name-bg-red{
    background-color: red;
    color:white;
  }
  &__id-bg-green{
    border-radius: 50px;
    margin: auto;
    margin-bottom: 5px;
    width: 10%;
    background-color: green;
    color:white;
  }
}
}
.btn-more-details{
  border: 1px dashed red;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  &:hover{
    background-color: green;
    color:white;
  }
}
.data-pokemon-top{
  display: flex;
  justify-content: space-around;
  background-color: red;
  color:white;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
}
.data-pokemon-bottom{
  display: flex;
  justify-content: space-around;
  background-color: red;
  font-weight: bold;
  color:white;
  width: 100%;
  padding: 5px;
}
.pokemon-img{
  width: 280px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color:green;
  border-bottom: 1px solid green;
}
.hidden{
  display: none;
}

